body {
	background: url( "https://cdn.discordapp.com/attachments/862682228613316629/901270657017446411/robot.png" ) ;
  background-size: 96%;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  border-radius:10px;
	overflow: hidden;
	background-color: #00c3ff;
}
li {
	float: left;
	border-right: 1px solid #000000;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #ff4800;
}
